<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>ExcludeFromCodeCoverage</ExcludeByAttribute>
          <Exclude>
            [WhisperSubs]WhisperSubs.Plugin,
            [WhisperSubs]WhisperSubs.Api.SubtitleController,
            [WhisperSubs]WhisperSubs.ScheduledTasks.SubtitleGenerationTask
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
